.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid coral;
  padding: 5px;
}

.task:not(:last-child) {
  margin-bottom: 5px;
}

.input-checkbox {
  position: relative;
  appearance: none;
  cursor: pointer;
  margin-top: 3px;
  width: 15px;
  height: 16px;
  background-color: transparent;
  border: 1px solid black;
}

.checked {
  background-color: transparent;
}

.checked::after {
  position: absolute;
  content: "\d7";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 17px;
  height: 100%;
  width: 105%;
  line-height: 80%;
  text-align: center;
  color: black;
}

.task-textarea {
  line-height: 1.2;
  height: 100%;
  width: calc(100% - 125px);
  border: none;
  resize: none;
  padding: 0px 5px;
  background-color: #fff;
  color: #757575;
}

.completed {
  text-decoration: line-through;
  background-color:papayawhip;
}

.active {
  border: 1px solid black;
}

.buttons-container button:first-child {
  margin-right: 3px;
}

.button-edit {
  line-height: 1.5;
  padding: 0px 3px;
  border: none;
  background-color: beige;
}

.btn-active {
  background-color: darksalmon !important; 
}

.button-edit:hover {
  background-color: darksalmon;
  transition: all .3s ease;
}

.task-title {
  line-height: 1.4;
  word-break: break-all;
  text-align: start;
  width: calc(100% - 125px);
  height: 24px;
}