.createTasksPanel {
  border: 2px solid blueviolet;
  padding: 15px;
  text-align: center;
  margin-bottom: 1px;
}

.createTasksPanel-input {
  line-height: 1.5;
  padding: 0px 5px;
  margin-right: 5px;
  border: 1px solid coral;
}

.createTasksPanel button {
  line-height: 1.5;
  padding: 2px 5px;
  border: none;
  background-color: beige;
}

.createTasksPanel button:hover {
  background-color: darksalmon;
  transition: all .3s ease;
}